In [2]:
# conditional selection of Data


import mysql.connector

# create connection 
conn=mysql.connector.connect(
    host='localhost',
    username='root',
    password='Edureka@123',
    port=int(3306)
)

if conn.is_connected:
    print('\n Database Connection established')

 Database Connection established

In [4]:
# create a cursor object 

cursor=conn.cursor()

In [ ]:
cursor.execute("SHOW DATABASES")
DBInstances=cursor.fetchall()
print(DBInstances)

[('information_schema',), ('mydb1',), ('mysql',), ('performance_schema',), ('sys',)]

In [7]:
# close Connection
conn.close()

In [8]:
# conditional selection of Data
import mysql.connector

# create connection 
conn=mysql.connector.connect(
    host='localhost',
    username='root',
    password='Edureka@123',
    port=int(3306),
    database='mydb1'
)

if conn.is_connected:
    print('\n Database Connection established')

 Database Connection established

In [9]:
cursor=conn.cursor()

In [11]:
cursor.execute("SHOW TABLES")
tables=cursor.fetchall()
for t in tables:
    print(tables)

In [13]:
cursor.execute("CREATE TABLE student(name VARCHAR(255),age int,personID int PRIMARY KEY Auto_INCREMENT)")

In [14]:
cursor.execute("SHOW TABLES")
tables=cursor.fetchall()
for t in tables:
    print(tables)

[('student',)]

In [18]:
# add record into table student

query="INSERT INTO student(personID,name,age) VALUES (%s,%s,%s)"

values=[("1234","student1","22"),("2497","student2","21"),("1948","student3","21"),("1874","student4","24"),("1324","student5","25"),("1254","student6","23")]

cursor.executemany(query,values)

In [19]:
conn.commit()

In [21]:
print(f"{cursor.rowcount} data added.")

6 data added.

In [22]:
cursor.execute("SELECT * FROM student WHERE age = 21")
records=cursor.fetchall()
for record in records:
    print(record)

('student3', 21, 1948)
('student2', 21, 2497)

In [ ]:
# student data sort by age DAT SORTING

cursor.execute("SELECT * FROM student ORDER BY age")
records=cursor.fetchall()
for record in records:
    print(record)

('student3', 21, 1948)
('student2', 21, 2497)
('student1', 22, 1234)
('student6', 23, 1254)
('student4', 24, 1874)
('student5', 25, 1324)

In [25]:
# updating a table data

# student1 name - ALEX


cursor.execute("UPDATE student SET name='Alex' WHERE personID=1234")

#to see the chnages 

cursor.execute("SELECT * FROM student")
records=cursor.fetchall()
for record in records:
    print(record)

('Alex', 22, 1234)
('student6', 23, 1254)
('student5', 25, 1324)
('student4', 24, 1874)
('student3', 21, 1948)
('student2', 21, 2497)

In [26]:
# conditional selection, update table, data soring

# Thanks