In [1]:
import mysql.connector
host='localhost'
username='root'
password='Edureka@123'
port=int(3306)

In [3]:
# establish a db connection 

conn=mysql.connector.connect(
    host=host,
    username=username,
    password=password,
    port=port
)

# check connection 
if conn.is_connected:
    print('\nConnection is established.\n')

Connection is established.

In [6]:
cursor=conn.cursor()

In [7]:
# create a database
cursor.execute("CREATE DATABASE IF NOT EXISTS mydb1")

In [34]:

#check database
cursor.execute("SHOW DATABASES")
DB_instances=cursor.fetchall()
print('available DBs are : \n',DB_instances)

available DBs are :
 [('information_schema',), ('mydb1',), ('mysql',), ('performance_schema',), ('sys',)]

In [9]:
# close connection 

conn.close()

In [11]:
# create connection again , this time in mydb1 instance
# establish a db connection 

conn=mysql.connector.connect(
    host=host,
    username=username,
    password=password,
    port=port,
    database='mydb1'
)

# check connection 
if conn.is_connected:
    print('\nConnection is established.\n')

Connection is established.

In [12]:
# create a cursor 

cursor=conn.cursor()

In [36]:
# create a table student(name,age,personID)

cursor.execute("CREATE TABLE student (name VARCHAR(255), age INT, personID int PRIMARY KEY AUTO_INCREMENT)")

In [37]:
# show Tables
cursor.execute('SHOW TABLES')
tables=cursor.fetchall()
for table in tables:
    print(table)

('student',)

In [38]:
cursor.execute("DESC student")

In [39]:
print(cursor.fetchall())

[('name', 'varchar(255)', 'YES', '', None, ''), ('age', 'int', 'YES', '', None, ''), ('personID', 'int', 'NO', 'PRI', None, 'auto_increment')]

In [40]:
# insert data to student table

query="INSERT INTO student(name,age) VALUES (%s,%s)"
values=("student1","21")

cursor.execute(query,values)

# commit the change
conn.commit()

print('data inserted')

data inserted

In [41]:
# insert multiple records into table 

query="INSERT INTO student(name,age) VALUES (%s,%s)"
values=[("student1","21"),("student2","22"),("student3","23"),("student4","21"),("student5","20"),("student6","21"),("student7","24"),("student8","23"),("student9","22"),("student10","20")]

cursor.executemany(query,values)

# commit the change
conn.commit()

print(f'{cursor.rowcount} data inserted')

10 data inserted

In [42]:
# check the tables data

cursor.execute("SELECT * FROM student")
data=cursor.fetchall()
for record in data:
    print(record)

('student1', 21, 1)
('student1', 21, 2)
('student2', 22, 3)
('student3', 23, 4)
('student4', 21, 5)
('student5', 20, 6)
('student6', 21, 7)
('student7', 24, 8)
('student8', 23, 9)
('student9', 22, 10)
('student10', 20, 11)

In [43]:
# to remove a record-- DELETE
cursor.execute("DELETE FROM student WHERE personID=1")

In [51]:
# check the tables data

cursor.execute("SELECT * FROM student")
data=cursor.fetchall()
for record in data:
    print(record)

In [49]:
# to remove multiple record in series-- DELETE
for i in range(2,12):
    cursor.execute(f"DELETE FROM student WHERE personID={i}")

In [52]:
# delete Student Table 


cursor.execute("DROP TABLE student")

In [53]:
# show Tables
cursor.execute('SHOW TABLES')
tables=cursor.fetchall()
for table in tables:
    print(table)

## Thanks!!!